---
---

<div class="p-5">
  <div class="mb-2">
    <h1 class="text-xl font-bold">
      <span class="text-foreground-700">#</span> game history
    </h1>
    <p class="text-xs text-foreground-700">
      <span class="text-foreground-900 mr-0.5">##</span>
      tracked from discord, saved locally
    </p>
  </div>

  <div id="game-history-container" style="width:100%;overflow:hidden;cursor:default;touch-action:pan-y;-webkit-user-select:none;user-select:none;">
    <div class="spotify-track-row" id="game-history-row"></div>
  </div>
  <div style="margin-top:9px;text-align:center;font-size:9px;color:#707070;">
    ← [ scroll to navigate ] →
  </div>
</div>
