---
---

<div class="p-5">
  <div class="mb-2">
    <h1 class="text-xl font-bold">
      <span class="text-foreground-700">#</span> hobbies and interests
    </h1>
  </div>

  <ul class="text-xs pl-0 flex flex-col gap-2 md:text-base md:pl-6">
    <li>
      <p>design</p>
      <p class="text-xs text-foreground-600">
        it all started in 2022 when i discovered behance. things just started clicking
        from there, and i found myself genuinely enjoying the process of creating "stuff" :)
        i don't really stick to one specific style yet — just exploring what looks good.
        tools: figma & photoshop 2026.
      </p>
    </li>
    <li>
      <p>programming</p>
      <p class="text-xs text-foreground-600">
        my tech stack is a bit of a mix, but it gets the job done. i'm comfortable working
        with react, html, css, python, js, and java. whether it's building a clean UI or
        handling some logic in the back, i'm always up for a challenge.
      </p>
    </li>
    <li>
      <p>personality & vibe</p>
      <p class="text-xs text-foreground-600">
        i try to keep things transparent and honest — no toxicity, just straight talk.
        living in yalta (RU-KRY), enjoying the coastal vibes while building things in
        the digital world.
      </p>
    </li>
  </ul>
</div>
