---
---

<div class="p-5">
  <div class="mb-2">
    <h1 class="text-xl font-bold">
      <span class="text-foreground-700">#</span> personal metadata
    </h1>
  </div>

  <ul class="pl-0 md:pl-6">
    <li class="text-xs flex gap-2 items-center md:text-base">
      <span class="text-foreground-700">-</span>
      <p>name:</p>
      <p>keyser</p>
    </li>
    <li class="text-xs flex gap-2 items-center md:text-base">
      <span class="text-foreground-700">-</span>
      <p>alive for:</p>
      <p><span id="alive-count">calculating...</span></p>
    </li>
    <li class="text-xs flex gap-2 items-center md:text-base">
      <span class="text-foreground-700">-</span>
      <p>languages:</p>
      <p>EN, RU</p>
    </li>
    <li class="text-xs flex gap-2 items-center md:text-base">
      <span class="text-foreground-700">-</span>
      <p>location:</p>
      <p>RU-KRY</p>
    </li>
  </ul>
</div>
